@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Gluten&display=swap');

body {
    margin: 0px;
    background-color: #92400E;
    font-family: 'Gluten'
}

*{
    margin: 0vh;
}

button {
    background-color:#d9770654;
    border-color: #632c09;
    border-radius: 1rem;
    border-width: 0.2rem;
    font-weight:600;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem 2rem;
    font-size: 5vh;
    font-family: 'gluten';
}


#dob {
    display: block;
    cursor: text;
    margin: auto;
    margin-top: 3rem;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
    background-color: #B45309;
    border-color: #632c09;
    font-size: large;
}

h1 {
    text-align: center;
    background-color: #B45309;
    height: 6rem;
    padding-top: 2rem;
    font-size: 50px;

}

#result {
    text-align: center;
    padding-top: 5rem;
    font-size: 5vh;
}

.message {
    text-align: center;
    margin-top: 5rem;
    font-size: 4vh;
}